<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
        <ion-label>Nome: {{restaurant.name}}</ion-label>
      <!-- <ion-item>
        <ion-label>Descrição: {{restaurant.description}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Endereço: {{restaurant.localization}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mesas Totais: {{restaurant.tables}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mesas Disponiveis: {{restaurant.tomorrowAvailableTables}}</ion-label>
      </ion-item> -->
      <ion-button [routerLink]="['/employee', restaurant.id]">Contratar</ion-button>
    </ion-item>
  </ion-list>
  <!-- <ion-button [routerLink]="['/restaurant', restaurant.id, 'starter-courses']">Entradas</ion-button> -->
</ion-content>