<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Lista de Prato Principal</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-button [hidden]="!isEmployee" routerLink="/restaurant/{{restaurantId}}/main-course-form">Criar Prato Principal
	</ion-button>
	<ion-list>
		<ion-item *ngFor="let mainCourse of mainCourseList">
			<div class="item-note" routerLink="/restaurant/{{restaurantId}}/main-course/{{mainCourse.id}}">
				{{mainCourse.name}}
			</div>
		</ion-item>
		<ion-item *ngIf="mainCourseList.length <= 0 || !mainCourseList">
			Nenhum prato principal disponível.
		</ion-item>
	</ion-list>
</ion-content>