<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>restaurant-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="restaurant.name" placeholder="Nome" ></ion-input>
  <ion-input [(ngModel)]="restaurant.description" placeholder="Descrição"></ion-input>
  <ion-input [(ngModel)]="restaurant.localization" placeholder="Localização"></ion-input>
  <ion-input [(ngModel)]="restaurant.tables" placeholder="Mesas"></ion-input>
  <!-- <ion-input [(ngModel)]="owner" placeholder="Gerente"></ion-input> -->
  <ion-button (click)= "registerRestaurant()" color="primary">Registrar</ion-button>
</ion-content>
