<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let restaurant of restaurants">
      <ion-icon [name]="restaurant.icon" slot="start"></ion-icon>
      {{restaurant.name}}
      <div class="item-note" slot="end">
        {{restaurant.name}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>