<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let reservation of reservations">
        <ion-card [routerLink]="['/reservation', reservation.restaurantId, reservation.id]">
            <ion-card-header>
              <ion-card-subtitle>Restaurante</ion-card-subtitle>
              <ion-card-title>{{reservation.restaurant.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Data: {{reservation.date | date}} Mesas: {{reservation.tables}}
            </ion-card-content>
          </ion-card>       
          <ion-button (click)="removeReservation(reservation.id, reservation.restaurant.id)" fill="outline" slot="end">Remover</ion-button>
    </ion-item>
  </ion-list>
</ion-content>