<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{mainCourse?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Nome: {{mainCourse?.name}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Descrição: {{mainCourse?.description}}</ion-label>
		</ion-item>
		<ion-item>
				<img  [src]="mainCourse.photo" alt="Select Image"/>
		</ion-item>
	</ion-list>
	<ion-button [hidden]="!isEmployee" routerLink="/restaurant/{{restaurantId}}/main-course-form"
		[queryParams]="{editId: mainCourse?.id }">Editar</ion-button>
	<ion-button [hidden]="!isEmployee" (click)="deleteMainCourse(mainCourse.id)">Deletar</ion-button>
</ion-content>