<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Restaurante {{restaurant.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Nome: {{restaurant.name}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Descrição: {{restaurant.description}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Endereço: {{restaurant.localization}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Mesas Totais: {{restaurant.tables}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Mesas Disponiveis: {{restaurant.tomorrowAvailableTables}}</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Selecionar Mesas</ion-label>
			<ion-select [(ngModel)]="tableReservation" okText="Ok" cancelText="Cancelar" interface="popover">
				<ion-select-option *ngFor="let table of tableOptions">{{table}}</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-button (click)="createReservation()">Fazer Reserva</ion-button>
	<ion-button [routerLink]="['/restaurant', restaurant.id, 'starter-courses']">Entradas</ion-button>
	<ion-button [routerLink]="['/restaurant', restaurant.id, 'main-courses']">Pratos Principais</ion-button>
	<ion-button [routerLink]="['/restaurant', restaurant.id, 'desserts']">Sobremesas</ion-button>
	<ion-button [routerLink]="['/restaurant', restaurant.id, 'ratings']">Avaliações</ion-button>
</ion-content>